@font-face {
  font-family: "Pixeboy";
  src: url("/fonts/Pixeboy-z8XGD.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto mono";
  src: url("/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo";
  src: url("/fonts/MesloLGL-Regular.ttf") format("truetype");
}

* {
  font-family: "Menlo";
  font-size: 10pt;
}

.logo {
  font-family: "Pixeboy";
  font-size: 2.5em;
  /* height: 30px; */
  display: inline-block;
  /* padding-bottom: 10px; */
}

.ui.grid .column .menu {
  margin-top: 18px;
}
